body {
  background-color: #D6B588;
  padding: 10px;
  margin: auto;
  width: 100%; 
  text-align: center; 
  font-family: 'Roboto', sans-serif;
}

.title {
  color: #rgb(0,0,0);
  font-size: 60px; 
}

p {
  color: #rgb(0,0,0);
  font-size: 40px; 
}

.head {
  color: #FFFFFF;
}
